
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

table tr, td{
    white-space: pre-wrap;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px;
}

input{
    width: 15rem;
    height: 3rem;
    font-size: large;
    text-align: center;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px;
}

button{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px;
    border: none;
    border-radius: 0.2rem;
    background: transparent;
}

button:hover {
    background-color: rgba(255, 174, 0, 0.747) !important;
    transition: ease 550ms;
}

button:active {
    background-color: rgba(0, 0, 0, 0.466) !important;
    transition: ease 200ms;
}
